* {
    margin: 0px;
    padding: 0px;
}

.nav-container {
    display: flex;
    background-color: gray;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.menus {
    list-style: none;
    display: flex;
    gap: 15px;
    font-size: large;
    font-style: italic;
}

.banner-container {
    height: 100vh;
    background-image: url('asset/image/background.jpg'),
        linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;
}

.title {
    font-size: 55px;
    color: white;
    font-weight: bold;
}

.description {
    color: white;
    padding: 10px;
    width: 50%;
    margin: auto;
}


.primary {
    color: red;
}

.bg-primary {
    background-color: red;
    color: white;
}

.btn {
    border: none;
    padding: 12px 20px;
}

.service-container {
    height: 100vh;
    background-image: url('asset/image/footer-bg.png'),
        linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
    padding: 30px;
}

.service-description {
    width: 50%;
}

.icon {
    width: 70px;
    margin-bottom: 20px;
}

.box {

    border-radius: 5px;
    text-align: center;
    width: 150px;
    height: 100px;
    padding: 50px;
    background-color: white;
    color: black;
}

.first-two-box {
    display: flex;
    gap: 5px;
    margin-top: 5px;
}

.author-img {
    width: 70px;
    height: 70px;
    border-radius: 35px;
}

.author-container {
    display: flex;
    gap: 20px;
    align-items: center;
}

.profile-container {
    display: flex;
    align-items: center;
    gap: 5px;
    border-right: 2px solid red;
    padding: 20px;
}

.phone-call {
    display: flex;
    align-items: center;
    color: white;
}

.phone-call h4 {
    margin-left: 10px;
}

.appointment-desc p {
    padding: 30px;
}

.appintment-container {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: auto;
    padding: 20px;
    background-color: red;
    border-radius: 10px;
    margin-top: -30px;
    align-items: center;
}

.appointment-btn button {
    border-radius: 20px;
}

.blog-container {
    width: 80%;
    margin: auto;
    padding: 10px;
    background-color: gray;
}

.blog-title {
    color: black;
    text-align: center;
    margin: 50px 50px 10px 50px;
    text-align: center;
}

.blog-desc {
    color: black;
}

.card {
    padding: 5px;
    background-color: white;
    margin: 10px;
    width: 220px;
    height: 350px;
    box-shadow: 4px 8px 4px gray;
    border-radius: 5px;
}

.card-title {
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-img {
    width: 100%;
    border-radius: 5px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
}