*{
    margin: 0px;
    padding: 0px;
}

.logo-photo{
    width: 110px;
}

.menu-container{
    background-color: rgb(0, 0, 0);
    padding: 20px;
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menus{
    display: flex;
}

.item{
    margin-right: 10px;
    padding-right: 5px;
    font-size: 25px;
    cursor: pointer;
}

.item:hover{
    color: blue;
}

.banner-img{
    width: 300px;
}

.banner-container{
    /* border: 1px solid black; */
    color: white;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: url("images/bg.jpg"),linear-gradient(45deg,rgb(8,8,8),rgb(53,53,53));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.title{
    font-size: 55px;
    font-weight: bold;
}


.description{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.btn{
    padding: 10px 20px;
    color: white;
    background: tomato;
    border: none;
}

.about-title{
    padding-top: 30px;
    text-align: center;
}

.about-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
}

.box{
    width: 230px;
    height: 290px;
    box-shadow: 4px 4px 15px gray;
    text-align: center;
    padding: 15px;
    background-color: black;
    color: white;
    border-radius: 10px;
}

.icon{
    width: 100px;
}

.btn2{
    background-color: gray;
    margin: 10px;
}

.box-title{
    padding: 10px;
}

.box-description{
    padding: 5px;
}

.service-container{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background: linear-gradient(45deg,rgb(8,8,8),rgb(53,53,53));
    
}