*{
    margin: 0px;
    padding: 0px;
}

/* justify-content works :horizontally
align-items works :vertically */
.container{
    display: flex;
    height: 500px;
    border: 2px dotted gray;
    /* justify-content: center; */
    /* justify-content: space-between; */
    /* justify-content: end; */
    justify-content: space-around;
    align-items: center;
    /* To change direction */
    flex-direction: row-reverse;
}

.box{
    width: 150px;
    height: 150px;
    background-color: red;
    padding: 20px;
}

.box2{
    background-color: green;
}

.box3{
    background-color: deepskyblue;
}